<form class="example-form d-flex flex-column">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">

    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input pattern="[a-zA-Z ]*" matInput placeholder="Name" [formControl]="nameFormControl" [errorStateMatcher]="matcher">

    <mat-error *ngIf="nameFormControl.hasError('pattern') && !nameFormControl.hasError('required')">
      Please enter a valid name
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Name is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">

    <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
      Please enter a valid password
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Re-password" [formControl]="passwordFormControlRe" [errorStateMatcher]="matcher">

    <mat-error *ngIf="passwordFormControlRe.hasError('password') && !passwordFormControlRe.hasError('required')">
      Please confirm password
    </mat-error>
    <mat-error *ngIf="passwordFormControl.value !== passwordFormControlRe.value">
      Password doesn't match
    </mat-error>
    <mat-error *ngIf="passwordFormControlRe.hasError('required')">
      re-Entering password is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button [disabled]="passwordFormControl.hasError('required') || passwordFormControl.value !== passwordFormControlRe.value"
    mat-raised-button color="warn" (click)="onSignUp()">Sign up</button>
</form>
