<div class="container">

  <div class="row">

    <div class="col-3 total-rating">

      <anms-rating-total [rating]="totalRating"></anms-rating-total>
      <div class="row justified-center mt-2">
        <button mat-raised-button color="accent" (click)="openDialog()">Add one</button>
      </div>

    </div>

    <div class="col-8 offset-1 add-movie">

      <div class="col-10 offset-2">

        <div class="row">

          <mat-card class="movie-card m-1 col-5 offset-1" *ngFor="let movie of movies">
            <mat-card-title>
              {{movie.title}}
            </mat-card-title>
            <mat-card-content>

              <mat-star-rating [rating]="movie.rating" [starCount]="5" (ratingUpdated)="onRatingUpdated($event, movie._id)">
              </mat-star-rating>
            </mat-card-content>

            <mat-card-actions>
              <button mat-button (click)="onDeleteButton(movie._id)">Delete</button>
            </mat-card-actions>
          </mat-card>

        </div>


      </div>
    </div>
  </div>


  <div class="row">


  </div>

</div>