
div.container{
    padding-top: 2rem;
}

mat-card.m-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;

}

mat-dialog-content.mat-dialog-content {
    height: 200px;
}

button.m-1.mat-stroked-button {
    margin-left: 4px;
    margin-right: 4px;
}

div.row.justified-center {
    justify-content: center;

    &.mt-2 {
        margin-top: 2rem;
    }
}

