<h3 mat-dialog-title>Add a movie</h3>
<mat-dialog-content [style.overflow]="'inherit'">

  <mat-form-field>
    <input matInput placeholder="Movie title" [formControl]="titleInput">
    <mat-error *ngIf="titleInput.hasError('minLength')">
      Title must have at least 3 characters length
      <strong>required</strong>
    </mat-error>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
  <button mat-stroked-button color="accent" [disabled]="!titleInput.valid" (click)="onCreateClick()" mat-dialog-close>Create</button>


</mat-dialog-actions>