<form class="example-form d-flex flex-column">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">

    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">

    <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
      Please enter a valid password
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button [disabled]="passwordFormControl.hasError('required')" mat-raised-button color="warn" (click)="onFormFilled()">Go</button>
</form>


