<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding">
      <img [src]="logo" />
      <span>Liveforce movies test app</span>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
      <a mat-list-item href="https://github.com/tomastrajan/angular-ngrx-material-starter" target="_blank">
        Github
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="toolbar">
    <mat-toolbar color="primary">
      <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
        <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
      </button>

      <span routerLink="" class="branding spacer center d-inline d-sm-none">
        <img [src]="logo" />
      </span>
      <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none">
        <img [src]="logo" /> Movies app </span>
      <span routerLink="" class="branding spacer d-none d-md-inline">
        <img [src]="logo" /> Movies test app</span>

      <span class="d-none d-md-inline">



        <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </button>

      </span>


      <button *ngIf="isAuthenticated" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
        <mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>
      </button>
      <mat-menu #toolbarUserMenu="matMenu">
        <button mat-menu-item (click)="onLogoutClick()">
          <mat-icon fontSet="fas" fontIcon="fa-power-off"></mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

    </mat-toolbar>
  </div>

  <div class="wrapper">

    <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          Alexander Sergan, lead of 200kph.io
          <br class="d-block d-sm-none">
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>