<div class="d-flex flex-row flex-wrap justify-content-center">
  <mat-card class="example-card marg pd flx-fill">
    <h2>{{state ? 'Sign in' : 'SignUp'}}</h2>
    <anms-sign-up *ngIf="!state"></anms-sign-up>
    <anms-sign-in *ngIf="state"></anms-sign-in>
    <div class="button-row d-flex flex-row justify-content-center">
      <button *ngIf="!state" mat-raised-button color="accent" (click)="onSignIn()">Sign In</button>
      <button *ngIf="state" mat-raised-button color="warn" (click)="onSignUp()">Sign Up</button>
    </div>
  </mat-card>
</div>
